<!doctype html>
<html>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	Welcome <a href="/profile/{{ username }}">{{ username }}</a>
	<br>
	Remember to practice every day in order to improve your vocabulary to the max!
	<br>
	<ul>
		<li><a href="/game/english">English Quiz</a></li>
		<li><a href="/game/afrikaans">Afrikaans Quiz</a></li>
		<li><a href="/game/other">Other Quiz</a></li>
	</ul>
	
	<br>

	<a href="/leaderboard">Leaderboard</a> | <a href="/feedback">Feedback</a>
</html>