<!doctype html>
<html>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	Welcome <a href="/profile/{{ username }}">{{ username }}</a>
	<br>
	Pick a quiz from the selection below to get started. Remember practice makes perfect, play often and learn new words to impress friends and family!
	<br>
	<ul>
		<li><a href="/game/english">English Quiz</a></li>
		<li><a href="/game/german">German Quiz</a></li>
		<li><a href="/game/french">French Quiz</a></li>
		<li><a href="/game/afrikaans">Afrikaans Quiz</a></li>
		<li><a href="/game/portuguese">Portuguese Quiz</a></li>
		<li><a href="/game/spanish">Spanish Quiz</a></li>
		<li><a href="/game/italian">Italian Quiz</a></li>
	</ul>
	
	<br>
<!-- <mxit:advert auid=""/>  this is a mxit add afaik-->
	<a href="/leaderboard">Leaderboard</a> | <a href="/feedback">Feedback</a> | <a href="mxit://[mxit_recommend]/Recommend?service_name=thevocabchallenge" type="mxit/service-navigation">Recommend to Friend</a>
</html>