<!doctype html>
<html>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	Welcome username
	<br>
	Remember to practice every day in order to improve your vocabulary to the max!
	<br>
	<a href="/game/english">English Quiz</a>
	<a href="/game/afrikaans">Afrikaans Quiz</a>
	<br>

	<a href="/leaderboard">Leaderboard</a> | <a href="/feedback">Feedback</a>
</html>