{% extends "template.html" %}
{% block body %}
    {% if language %}
        <h1>Leaderboard - {{ language }}</h1>
    {% else %}
        <h1>Leaderboard - Top</h1>
    {% endif %}
    <!-- Do this in a better way -->
    <a href="/leaderboard/english">English</a> <a href="/leaderboard/afrikaans">Afrikaans</a> <a href="/leaderboard/german">German</a> <a href="/leaderboard/french">French</a> <a href="/leaderboard/portuguese">Portuguese</a> <a href="/leaderboard/spanish">Spanish</a> <a href="/leaderboard/italian">Italian</a>
    {% for entry in top10 %}
        <li><p>{{ entry.rank }})<a href="/profile/{{ entry.username }}">{{ entry.username }}</a>   {{ entry.score }}</p></li>
    {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
{% endblock %}
